.contacts {
  @include font(15px, 30px, 400);
  color: $font-color;
}

.contacts__inner {
  padding: 0 30px;
}

.contacts__title {
  font-size: 17px;
}

.contacts__text {
  display: flex;
  flex-direction: column;

  margin-bottom: 35px;
}

.contacts__section {
  display: flex;

  margin: 0;
}

.contacts__field {
  flex-basis: 30%;
}

.contacts__value {
  flex-basis: 70%;

  &--link {
    flex-basis: auto;

    color: $font-color;
    box-shadow: inset 0 -1px 0 0 $theme-color-main;

    &:hover,
    &focus {
      color: $theme-color-secondary-bright;
      box-shadow: inset 0 -1px 0 0 $theme-color-secondary-bright;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.contacts__map {
  margin-bottom: 40px;
  width: 100%;
  height: 457px;

  background-color: #f4ead8;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.contacts__feedback-btn {
  display: block;
  padding-left: 45px;
  padding-right: 45px;
}
