.order {
  padding-top: 21px;
  padding-bottom: 40px;

  @include font(13px, 24px, 400);
  color: $font-color;
}

.order__intro {
  margin-top: 0;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .order {
    padding-top: 70px;
    padding-bottom: 0;

    font-size: 17px;
    line-height: 30px;
  }

  .order__intro {
    margin-bottom: 7px;
  }
}

@media (min-width: $desktop-width) {
  .order {
    padding-top: 118px;

    font-size: 17px;
    line-height: 30px;
  }

  .order__intro {
    padding: 0 $padding-desktop + $form-title-width-desktop;
  }
}
