.page-main__header {
  padding: 70px 0;

  background-color: $theme-bg-color-secondary;
}

.page-main__title {
  margin: 0;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: $font-color-dark;
}

.products__list {
  @include list-reset;
}
