.page-footer {
  background-color: $theme-bg-color-secondary;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  position: relative;

  display: none;
  width: 102px;
  height: 34px;

  &:hover,
  &:focus {
    .page-footer__logo-img {
      fill: $theme-color-secondary-bright;
    }
  }

  &:active {
    .page-footer__logo-img {
      opacity: 0.3;
    }
  }

  &:not([href]) {
    &:hover,
    &:active {
      .page-footer__logo-img {
        fill: #000000;
        opacity: 1;
      }
    }
  }

  @include fix-ie-active;
}

.page-footer__logo-img {
  transition: all 0.3s;
}

.page-footer__item {
  padding: 20px 0;
  min-height: 80px;
  box-sizing: border-box;

  &:not(:last-child) {
    border-bottom: 1px solid $theme-color-complementary-extra;
  }

  &--social {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__inner {
    flex-direction: row;
    justify-content: space-between;

    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 145px;
  }

  .page-footer__logo {
    display: block;
    margin-right: 75px;
  }

  .page-footer__item {
    padding: 0;
    min-height: auto;

    &:not(:last-child) {
      border: none;
    }

    &--social {
      margin: 3px 20px 0;
    }

    &--copyright {
      margin-top: 6px;
    }
  }
}
