.product-full {
  position: relative;

  @include font(15px, 24px, 400);
  color: $font-color;
}

.product-full__title {
  margin: 0;
  margin-bottom: 4px;

  @include font(25px, 30px, 700);
  color: $font-color-dark;
}

.product-full__pin {
  display: block;
  margin-bottom: 25px;

  @include font(17px, 20px, 700);
  text-transform: uppercase;
  color: $theme-color-main;
}

.product-full__features {
  margin: 0;
  margin-bottom: 25px;
}

.product-full__parameters {
  margin-bottom: 28px;

  line-height: 20px;

  border-collapse: collapse;
}

.product-full__parameter {
  border-bottom: 1px solid $theme-color-complementary-light;
}

.product-full__photo {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  height: auto;

  font-size: 0;
  line-height: 0;
}

.product-full__price {
  display: block;
  margin-bottom: 25px;

  @include font(17px, 24px, 700);
  text-align: center;
  color: $font-color-dark;
}

.product-full__buy-btn {
  display: block;
}

@media (min-width: $tablet-width) {
  .product-full__inner {
    display: flex;
    flex-direction: column;

    width: calc(100% - (333px + 43px));
    min-height: 410px;
  }

  .product-full__title {
    font-size: 43px;
    line-height: 50px;

    margin-bottom: 45px;
    width: 75%;
  }

  .product-full__pin {
    position: absolute;
    top: 10px;
    right: 0;

    width: 120px;

    line-height: 17px;
    text-align: center;
  }

  .product-full__features {
    margin-bottom: 34px;

    font-size: 17px;
    line-height: 30px;
  }

  .product-full__parameters {
    margin-bottom: 50px;
  }

  .product-full__photo {
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 0;
    width: 333px;
    height: 404px;
  }

  .product-full__price {
    margin-top: auto;
    margin-bottom: 32px;

    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .product-full__inner {
    width: 292px;
    min-height: 480px;
  }

  .product-full__title {
    position: relative;
    z-index: 10;

    padding-top: 60px;

    font-size: 53px;
    line-height: 57px;
  }

  .product-full__pin {
    top: 70px;
    left: -150px;
  }

  .product-full__features {
    margin-bottom: 46px;
  }

  .product-full__parameters {
    margin-bottom: 60px;
  }

  .product-full__photo {
    width: 525px;
    height: 636px;
  }
}
