.products {
  padding-top: 30px;
}

.products__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include list-reset;
}

.products__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .products {
    padding-top: 77px;
    padding-bottom: 53px;
  }

  .products__item {
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    padding-top: 127px;
    padding-bottom: 6px;
  }

  .products__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    margin-right: -51px;
  }

  .products__item {
    margin-bottom: 50px;
    margin-right: 51px;

    &:last-child {
      margin-bottom: 50px;
    }
  }
}
