.production {
  padding-top: 0;
  padding-bottom: 58px;

  @include font(13px, 24px, 400);
  color: $font-color;
}

.production__wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  max-width: 500px;

  box-shadow: inset 0 0 0 1px $theme-color-complementary-light;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__top {
  display: flex;
  align-items: center;

  padding: 26px 34px 23px;
}

.production__icon {
  flex-shrink: 0;

  margin-right: 25px;

  fill: $theme-color-main;
}

.production__title {
  margin: 0;

  @include font(17px, 24px, 700);
  color: $font-color-dark;
}

.production__video {
  padding-bottom: 57.69%; // video 260x150
}

.production__bottom {
  padding: 28px 34px 33px;
}

.production__description {
  margin: 0;
  margin-bottom: 24px;
}

.production__order-btn {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .production {
    padding-bottom: 63px;

    font-size: 15px;
    line-height: 30px;
  }

  .production__wrapper {
    max-width: 900px;
  }

  .production__top {
    box-shadow: inset 0 1px 0 0 $theme-color-complementary-light;
    padding: 36px 42px 26px;
  }

  .production__icon {
    margin-right: 33px;
  }

  .production__title {
    font-size: 20px;
  }

  .production__video {
    order: -1;

    padding-bottom: 68.11%; // video 668x455
  }

  .production__bottom {
    padding: 0 42px 46px;
  }

  .production__description {
    margin-bottom: 36px;
  }
}

@media (min-width: $desktop-width) {
  .production__wrapper {
    position: relative;

    max-width: none;
    min-height: 455px;
  }

  .production {
    padding-bottom: 105px;
  }

  .production__top {
    flex-direction: column;
    align-items: flex-start;

    box-shadow: none;
    padding: 42px 57px 30px 762px;
  }

  .production__icon {
    margin-right: 0;
    margin-bottom: 23px;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;

    width: 682px;
    height: 455px;
    padding-bottom: 0;
  }

  .production__bottom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 0 57px 60px 762px;
  }

  .production__description {
    margin-bottom: 45px;
  }

  .production__order-btn {
    margin-top: auto;
  }
}
