.product {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 500px;

  @include font(13px, 30px, 400);
  color: $font-color;

  transition: all 0.3s;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product__photo {
  font-size: 0;
  line-height: 0;
}

.product__photo-img {
  width: 100%;
  height: auto;
}

.product__description {
  display: flex;
  flex-direction: column;
  padding: 26px 26px 21px;

  border: 1px solid $theme-color-complementary-light;
}

.product__name {
  margin: 0;
  margin-bottom: 5px;

  @include font(17px, 24px, 700);
}

.product__link {
  @include link($font-color-dark);
}

.product__parameters {
  margin: 0;
  margin-bottom: 20px;
}

.product__buy {
  display: flex;

  margin: 0;
  margin-top: auto;
  padding-top: 20px;

  border-top: 1px solid $theme-color-complementary-light;
}

.product__price {
  @include font(15px, 24px, 700);
  color: $font-color-dark;
}

.product__buy-btn {
  position: relative;

  margin-left: auto;

  &:hover,
  &:focus {
    .product__buy-btn-icon {
      fill: $theme-color-main;
      opacity: 1;
    }
  }

  &:active {
    .product__buy-btn-icon {
      opacity: 0.3;
    }
  }

  @include fix-ie-active;
}

.product__buy-btn-icon {
  opacity: 0.2;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .product {
    flex-direction: row;

    max-width: 900px;
  }

  .product__photo {
    width: 50%;
  }

  .product__photo-img {
    height: 100%;
    object-fit: cover;
  }

  .product__description {
    width: 50%;
    box-sizing: border-box;
  }

  .product__buy {
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (min-width: $tablet-width) {
  .product__name {
    font-size: 20px;
  }

  .product__parameters {
    font-size: 15px;
  }

  .product__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 316px;
  }

  .product__photo-img {
    width: 316px;
    height: 462px;
  }

  .product__description {
    flex-grow: 1;

    padding-top: 25px;
    padding-right: 31px;
  }

  .product__parameters {
    margin-bottom: 13px;
  }

  .product__buy {
    padding-top: 22px;
  }
}
