.promo {
  padding-top: 27px;
  padding-bottom: 42px;
}

.promo__product {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    padding-top: 44px;
    padding-bottom: 68px;
  }

  .promo__product {
    &:not(:last-of-type) {
      margin-bottom: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding-top: 70px;
    padding-bottom: 95px;
  }

  .promo__product {
    &:not(:last-of-type) {
      margin-bottom: 50px;
    }
  }
}
