.reviews {
  padding-top: 25px;
  padding-bottom: 51px;

  @include font(15px, 30px, 400);
  color: $font-color;
}

.reviews__title {
  margin-bottom: 24px;
}

.reviews__list {
  @include list-reset;
  margin-bottom: 28px;
}

.reviews__item {
  display: none;
  margin: 0;

  &--current {
    display: flex;
    flex-direction: column;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 26px;
}

.reviews__author-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include font(17px, 24px, 700);
  font-style: normal;
  color: $font-color-dark;
}

.reviews__author-link {
  margin-top: 5px;

  @include font(17px, 30px, 400);
  @include link($font-color);
}

.reviews__controls {
  display: flex;
  margin-bottom: 38px;
}

.reviews__btn {
  width: 50%;

  padding: 0;
  height: 52px;

  border: 1px solid $theme-color-complementary-light;
  background-color: transparent;
  cursor: pointer;

  &::before {
    display: block;
    width: 100%;
    height: 100%;
    content: "";

    background-repeat: no-repeat;
    background-position: center center;
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 0.6;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }

  &--prev {
    border-right: none;

    &::before {
      background-image: url("../img/icon-left-arrow.svg");
    }
  }

  &--next {
    &::before {
      background-image: url("../img/icon-right-arrow.svg");
    }
  }
}

.reviews__write-btn {
  display: block;
}

@media (min-width: $tablet-width) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    padding-top: 77px;
    padding-bottom: 84px;
    min-height: 541px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 350px auto;

    @media #{$retina} {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__title {
    margin-bottom: 50px;
    padding-right: 30px;
    width: 50%;
    box-sizing: border-box;
  }

  .reviews__inner {
    position: relative;

    order: 1;

    width: 100%;
  }

  .reviews__list {
    margin-bottom: 0;
  }

  .reviews__item {
    min-height: 235px;
  }

  .reviews__text {
    margin-bottom: 55px;

    font-size: 17px;
  }

  .reviews__author-name {
    margin-top: auto;
    padding-right: 200px;

    font-size: 18px;
  }

  .reviews__controls {
    justify-content: space-around;

    position: absolute;
    right: 0;
    bottom: 3px;

    margin-bottom: 0;
    width: 175px;
  }

  .reviews__btn {
    width: 50px;
    border: none;
  }

  .reviews__write-btn {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 30px;
    margin-left: auto;
    padding-left: 38px;
    padding-right: 38px;
    max-width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 70px;
    padding-bottom: 90px;
    min-height: 547px;

    background-position: $padding-desktop top;
  }

  .reviews__list {
    width: 770px;
  }

  .reviews__item {
    min-height: 185px;
  }

  .reviews__text {
    margin-bottom: 38px;
  }

  .reviews__author-name {
    padding-right: 100px;

    font-size: 17px;
  }

  .reviews__author-link {
    margin-top: 2px;
  }

  .reviews__write-btn {
    margin-top: 9px;
  }
}
