.site-submenu {
  @include list-reset;
}

.site-submenu__item {
  @include font(17px, 24px, 700);

  border-bottom: 1px solid $theme-color-complementary-light;
}

.site-submenu__link {
  display: block;
  padding: 27px 40px 25px 75px;
  min-height: 79px;
  box-sizing: border-box;

  @include link($font-color-dark);

  &--current {
    &:hover,
    &:active {
      color: $font-color-dark;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-submenu {
    flex-direction: row;
    flex-wrap: wrap;

    min-height: 52px;
    box-sizing: border-box;

    border-top: 1px solid $theme-color-complementary-light;
    background-color: $theme-bg-color-secondary;

    &::after {
      position: absolute;
      right: 100%;
      top: -1px;

      display: block;
      height: 100%;
      content: "";

      border-top: 1px solid $theme-color-complementary-light;
      background-color: $theme-bg-color-secondary;
    }

    &--index {
      background-color: $theme-bg-color-secondary-light;

      &::after {
        background-color: $theme-bg-color-secondary-light;
      }
    }
  }

  .site-submenu__item {
    flex-shrink: 0;

    padding: 16px 60px 0 0;

    font-size: 15px;

    border-bottom: none;
  }

  .site-submenu__link {
    display: inline;
    padding: 0;
    min-height: auto;
  }
}
