.site-menu {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.site-menu__item {
  @include font(17px, 24px, 700);

  border-bottom: 1px solid $theme-color-complementary-light;
}

.site-menu__link {
  display: block;
  padding: 27px 40px 25px 75px;
  min-height: 79px;
  box-sizing: border-box;

  @include link($font-color-dark);

  &--current {
    &:hover,
    &:active {
      color: $font-color-dark;
    }
  }
}

@media (min-width: $tablet-width) {
  .site-menu {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .site-menu__item {
    flex-shrink: 0;

    border-bottom: none;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .site-menu {
    min-height: 52px;
    box-sizing: border-box;

    border-top: 1px solid $theme-color-complementary-light;
    background-color: $theme-bg-color-secondary;

    &::after {
      position: absolute;
      top: -1px;
      right: 100%;

      display: block;
      height: 100%;
      content: "";

      border-top: 1px solid $theme-color-complementary-light;
      background-color: $theme-bg-color-secondary;
    }

    &--index {
      background-color: $theme-bg-color-secondary-light;

      &::after {
        background-color: $theme-bg-color-secondary-light;
      }
    }
  }

  .site-menu__item {
    padding: 17px 37px 0 0;

    font-size: 15px;
  }

  .site-menu__link {
    display: inline;
    padding: 0;
    min-height: auto;
  }
}

@media (min-width: $desktop-width) {
  .site-menu {
    padding-right: 50px;
  }

  .site-menu__item {
    font-size: 17px;

    &:nth-child(odd) {
      border-right: 1px solid $theme-color-complementary-light;

      .site-menu__link {
        padding-left: 0;
        padding-right: 35px;
        width: 184px;
      }
    }

    &:nth-child(even) {
      .site-menu__link {
        padding-right: 0;
        padding-left: 35px;
        width: 195px;
      }
    }

    &:nth-child(n+3) {
      .site-menu__link {
        padding-top: 0;
        min-height: auto;
      }
    }
  }

  .site-menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
    min-height: 88px;
  }
}
