.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-right: 0;
  padding-left: 0;
  list-style: none;
}

.social__item {
  padding: 0 5px;
}

.social__link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 52px;
  height: 40px;

  &--narrow {
    width: 45px;
  }

  &:hover,
  &:focus {
    .social__icon {
      fill: $theme-color-secondary-bright;
    }
  }

  &:active {
    .social__icon {
      opacity: 0.3;
    }
  }

  @include fix-ie-active;
}

.social__icon {
  transition: all 0.3s;
}
