.social {
  display: flex;
  align-items: center;

  margin: 0;
  padding-right: 0;
  padding-left: 0;
  list-style: none;
}

.social__item {
  margin-top: 5px;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.social__link {
  &:hover,
  &:focus {
    .social__icon {
      fill: $theme-color-secondary-bright;
    }
  }

  &:active {
    .social__icon {
      opacity: 0.3;
    }
  }
}
