.user-menu {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.user-menu__item {
  @include font(17px, 24px, 700);

  border-bottom: 1px solid $theme-color-complementary-light;
}

.user-menu__link {
  position: relative;

  display: block;
  padding: 27px 40px 25px 75px;
  min-height: 79px;
  box-sizing: border-box;

  @include link($font-color-dark);

  &:hover,
  &:focus {
    .user-menu__icon {
      fill: $theme-color-main;
      opacity: 1;
    }
  }

  &:active {
    .user-menu__icon {
      opacity: 0.3;
    }
  }

  &--current {
    &:hover,
    &:active {
      color: $font-color-dark;

      .user-menu__icon {
        fill: #000000;
        opacity: 0.2;
      }
    }
  }

  @include fix-ie-active;
}

.user-menu__icon {
  position: absolute;
  top: calc(50% - 10px);
  left: 30px;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .user-menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

    padding-left: 10px;
  }

  .user-menu__item {
    flex-shrink: 0;

    border-bottom: none;
    border-left: 1px solid $theme-color-complementary-light;

    &:last-child {
      .user-menu__link {
        padding-right: 0;
      }
    }
  }

  .user-menu__link {
    display: flex;
    align-items: center;

    padding: 32px;
    min-height: 88px;

    // Фикс вертикального центрирования флекс-элемента при min-height в IE
    &::before {
      content: "";
      min-height: 24px;
      font-size: 0;
    }
  }

  .user-menu__icon {
    position: static;
  }

  .user-menu__text {
    margin-left: 30px;
  }

  .user-menu__hidden-text {
    font-size: 0;
  }
}
