.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;
  box-sizing: border-box;

  &--no-padding,
  &--mobile-no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .container {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;

    &--no-padding {
      padding-left: 0;
      padding-right: 0;
    }

    &--mobile-no-padding {
      padding-left: $padding-tablet;
      padding-right: $padding-tablet;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;

    &--narrow {
      padding-left: $padding-desktop-big;
    }
  }
}
