.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;
  box-sizing: border-box;
}

@media (max-width: $tablet-width - 1px) {
  .container {
    &--mobile-no-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .container {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
    width: $desktop-width;

    &--narrow {
      padding-left: $padding-desktop-big;
    }
  }
}

@media (min-width: 0) {
  .container {
    &--no-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
