$btn-width: 101px;
$btn-height: 77px;

.video {
  position: relative;

  padding-bottom: 56.25%; // стандартное соотношение сторон 16:9
  width: 100%;
  height: 0;

  &:hover {
    cursor: pointer;

    .video__btn {
      transform: translate(-$btn-width / 2, -$btn-height / 2) scale(1.2);
    }
  }

  &:active {
    .video__btn {
      transform: translate(-$btn-width / 2, -$btn-height / 2) scale(0.8);
      opacity: 0.3;
      outline: none;
    }
  }

  @include fix-ie-active;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: none;
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-$btn-width / 2, -$btn-height / 2);

  padding: 0;
  width: $btn-width;
  height: $btn-height;

  border: none;
  background-color: transparent;
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  &:focus {
    transform: translate(-$btn-width / 2, -$btn-height / 2) scale(1.2);
  }
}
