@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link($color: #000000) {
  color: $color;

  &:hover,
  &:focus {
    color: rgba($color, 0.6);
  }

  &:active {
    color: rgba($color, 0.3);
  }
}

@mixin zigzag-separator($height: 6px) {
  &::after {
    display: block;
    width: 100%;
    height: $height;
    content: "";

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }
}
