@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin link($color: #000000) {
  color: $color;

  &:hover,
  &:focus {
    color: rgba($color, 0.6);
  }

  &:active {
    color: rgba($color, 0.3);
  }
}

@mixin fix-ie-active($pseudo: after) {
  &::#{$pseudo} {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
