// colors
$font-color: #444444;
$font-color-dark: #000000;
$font-color-light: #ffffff;

$theme-bg-color-main: #ffffff;
$theme-bg-color-secondary: #f1f1f1;
$theme-bg-color-secondary-light: #f9f9f9;
$theme-bg-modal-color: rgba(255, 255, 255, 0.9);
$theme-color-main: #63d1bb;
$theme-color-main-bright: #59d5bc;
$theme-color-main-dark: #149080;
$theme-color-main-extra: #62d1ba;
$theme-color-secondary: #56c3b2;
$theme-color-secondary-bright: #46c1ae;
$theme-color-complementary: #c6c6c6;
$theme-color-complementary-light: #ececec;
$theme-color-complementary-dark: #444444;
$theme-color-complementary-extra: #e5e5e5;

// dimensions
$padding-mobile: 30px;
$padding-tablet: 50px;
$padding-desktop: 50px;

$tablet-width: 768px;
$desktop-width: 1150px;
