.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 14px 50px;

  @include font(18px, 20px, 700);
  text-align: center;
  text-transform: uppercase;
  color: $font-color;

  border: 2px solid $font-color;
  background-color: $theme-bg-color-main;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $font-color-light;
    background-color: $font-color;
  }

  &:active {
    color: rgba($font-color-light, 0.3);
  }

  &--solid {
    padding: 18px 50px;

    @include font(17px, 16px, 700);
    color: $font-color-light;

    border: none;
    background-color: $theme-color-main;

    &:hover,
    &:focus {
      background-color: $theme-color-main-bright;
    }
  }
}
